.product-update__container {
  overflow-x: hidden;
  padding: 5px;
  text-align: center;
}
form {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.fileUpload {
  margin-bottom: 15px;
}
mat-progress-spinner{
  width: 2rem;
  height: 2rem;
}