.product-update__container {
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 5px 15px;
  text-align: center;
}
form {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.fileUpload {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
  align-self: center;
}
.fileInput {
  display: none;
}
.uploadedImage {
  width: 4rem;
  height: 3rem;
}
.submit-button{
  margin-top: 1rem;
}
@media only screen and (min-width: 600px) {
  .product-update__container {
    margin: auto;
    width: 600px;
    box-shadow: 1px 1px 2px grey;
  } 
}