<section class="product-update__container">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm)">
    <mat-form-field class="row">
      <mat-label class="col-12">Product name</mat-label>
      <input matInput formControlName="productName" />
      <mat-error *ngIf="this.productForm.controls['productName'].errors">
        {{ this.getError("productName") }}
      </mat-error>
    </mat-form-field>
    <div class="fileUpload">
      <!-- <img [src]="downloadURL" *ngIf="!!downloadURL" class="uploadedImage" alt="uploaded image" /> -->
      <img src="https://firebasestorage.googleapis.com/v0/b/bazaa-9913b.appspot.com/o/%222021-11-21T14%3A01%3A34.104Z%22gabor-szuts-uu8sDKvTx-g-unsplash.jpg?alt=media&token=2ce67caf-85b5-4768-979a-2c91b99206d0" class="uploadedImage" alt="uploaded image" />
      <mat-icon (click)="clickFileUpload()">add</mat-icon>
      <input
        type="file"
        class="fileInput"
        #file
        (change)="fileUpload($event)"
      />
    </div>
    <mat-form-field class="row">
      <mat-label class="col-12">Quantity</mat-label>
      <input matInput formControlName="quantity" />
    </mat-form-field>
    <mat-form-field class="row">
      <mat-label class="col-12">Status</mat-label>
      <input matInput formControlName="status" />
    </mat-form-field>
    <mat-form-field class="row">
      <mat-label class="col-12">Category</mat-label>
      <input matInput formControlName="categoryId" />
    </mat-form-field>
    <mat-form-field class="row">
      <mat-label class="col-12">Price</mat-label>
      <input matInput formControlName="price" />
    </mat-form-field>
    <mat-form-field class="row">
      <mat-label class="col-12">Delivery Price</mat-label>
      <input matInput formControlName="deliveryPrice" />
    </mat-form-field>
    <mat-form-field class="row">
      <mat-label class="col-12">Product Description</mat-label>
      <textarea
        matInput
        formControlName="productName"
        rows="10"
        cols="50"
      ></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary">submit</button>
  </form>
</section>
