<section class="product-update__container">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm)">
    <div>
      <img
        [src]="this.productForm.controls['productImage'].value"
        class="uploadedImage"
        [alt]="this.productForm.controls['productName'].value"
      />
    </div>
    <mat-form-field class="row">
      <mat-label class="col-12">Product name</mat-label>
      <input matInput formControlName="productName" />
      <mat-error *ngIf="this.productForm.controls['productName'].errors">
        {{ this.getError("productName") }}
      </mat-error>
    </mat-form-field>
    <div class="fileUpload">
      <mat-icon (click)="clickFileUpload()">add</mat-icon>
      <input
        type="file"
        class="fileInput"
        #file
        (change)="fileUpload($event)"
      />
    </div>
    <mat-form-field class="row">
      <mat-label class="col-12">Quantity</mat-label>
      <input matInput formControlName="quantity" />
      <mat-error *ngIf="this.productForm.controls['quantity'].errors">
        {{ this.getError("quantity") }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="row">
      <mat-label class="col-12">Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of statusOptions" [value]="status">
          {{ status | titlecase }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="this.productForm.controls['status'].errors">
        {{ this.getError("status") }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="row">
      <mat-label class="col-12">Category</mat-label>
      <mat-select formControlName="categoryId">
        <mat-option
          *ngFor="let category of categories"
          [value]="category.category_id"
        >
          {{ category.category_name | titlecase }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="this.productForm.controls['categoryId'].errors">
        {{ this.getError("categoryId") }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="row">
      <mat-label class="col-12">Price</mat-label>
      <input matInput formControlName="price" />
      <mat-error *ngIf="this.productForm.controls['price'].errors">
        {{ this.getError("price") }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="row">
      <mat-label class="col-12">Delivery Price</mat-label>
      <input matInput formControlName="deliveryPrice" />
      <mat-error *ngIf="this.productForm.controls['deliveryPrice'].errors">
        {{ this.getError("deliveryPrice") }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="row">
      <mat-label class="col-12">Product Description</mat-label>
      <textarea
        matInput
        formControlName="productDesc"
        rows="8"
        cols="50"
      ></textarea>
      <mat-error *ngIf="this.productForm.controls['productDesc'].errors">
        {{ this.getError("productDesc") }}
      </mat-error>
    </mat-form-field>
    <button class="submit-button" mat-raised-button color="primary">
      submit
    </button>
  </form>
</section>
