.order-info__container{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 4rem;
}
.order-info__user-details{
    width: 100%;
}
.order-info__user-card{
    width: 100%;
}
.order-info__user-details__title .order-info__user-card__title{
    font-weight: 400;
    font-size: 1.5rem;
}

@media only screen and (min-width: 600px) {
    .order-info__user-details{
        width: 50%;
    }
    .order-info__user-card{
        width: 50%;
    }
  }
  