<section class="order-info__container">
  <div class="order-info__user-details">
    <h3 class="order-info__user-details__title">User Details</h3>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let x of info"
        ><span>{{ x }}&nbsp;:&nbsp;{{ orderDetails[x] }}</span></mat-list-item
      >
    </mat-list>
    <span  *ngIf="orderDetails.status !== 'confirm'" class="order-info__action-button">
      <button mat-flat-button color="primary" (click)="onStatusChange(orderDetails.order_id,'confirm')">Confirm</button>
      <button mat-flat-button color="warn" (click)="onStatusChange(orderDetails.order_id,'cancel')">Cancel</button>
    </span>
  </div>
  <div class="order-info__user-card">
    <h3 class="order-info__user-card__title">Order Details</h3>
    <div *ngFor="let item of orderItems">
      <mat-card
        class="example-card"
        routerLink="/stock/product-input"
        [queryParams]="{ productId: item.product_id }"
      >
        <mat-card-header>
          <mat-card-title>{{ item.name }}</mat-card-title>
          <mat-card-subtitle>{{ item.category }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="item.image" [alt]="item.name" />
        <mat-card-content>
          <p>
            {{ item.description }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>{{ item.product_price | currency: "₹" }}</p>
          <p>{{ item.delivery_price | currency: "₹" }}</p>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>
