.example-container {
  width: 100%;
  height: 100%;
  margin: 0px;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: hidden;
  padding: 0px;
}
mat-drawer-content {
  width: 100%;
  overflow-x: hidden;
}
.example-spacer {
  flex: 1 1 auto;
}
mat-drawer {
  width: 50%;
}
@media only screen and (min-width: 600px) {
  mat-drawer {
    width: 15%;
  }
  mat-drawer-content {
    width: 85%;
  }
}
.active {
  color: dodgerblue;
}
