<section class="category-update__container">
  <form [formGroup]="categoryDetail" (ngSubmit)="onSubmit(categoryDetail)">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Category Name</mat-label>
      <input matInput placeholder="Category Name" formControlName="name" />
      <mat-error *ngIf="this.categoryDetail.get('name')?.invalid">
        {{ this.getErrors(this.categoryDetail.controls["name"]) }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of statusOptions" [value]="status">
          {{ status | titlecase}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="this.categoryDetail.get('status')?.invalid">
        {{ this.getErrors(this.categoryDetail.controls["status"]) }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Parent Category</mat-label>
      <mat-select formControlName="parent">
        <mat-option [value]="0">
          {{ "No Parent Category" }}
        </mat-option>
        <mat-option
          *ngFor="let category of categoriesOptions"
          [value]="+category.category_id"
        >
          {{ category.category_name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="this.categoryDetail.get('parent')?.invalid">
        {{ this.getErrors(this.categoryDetail.controls["parent"]) }}
      </mat-error>
    </mat-form-field>
    <button class="submit-button" mat-raised-button color="primary">
      Submit
    </button>
  </form>
</section>
