<section class="login__container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-card class="login__form">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="loginForm.controls['email']?.invalid">{{
          this.getErrors("email")
        }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="loginForm.controls['password']?.invalid">{{
          this.getErrors("password")
        }}</mat-error>
      </mat-form-field>
      <button mat-button>Login</button>
    </mat-card>
  </form>
</section>
